

.eng{font-family:Tahoma,Geneva,sans-serif}
li{list-style:none}a{color:#0F3F94;text-decoration:none}

img{border:0;vertical-align:middle}
table{}td{empty-cells:show}
.gray,.gray a{color:#999}
.red,.red a{color:#f30}
.blue,.blue a{color:#0f3f94}
.l{float:left}
.r{float:right}
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.m_b10{margin-bottom:10px}
.f12{font-size:12px;font-weight:normal}
.f14{font-size:14px}
.ti{overflow:hidden;text-indent:-2000em;display:block}
.clear{height:0;overflow:hidden;clear:both}