.activity {
    box-sizing: border-box
}

.activity .show a i {
    transform: rotate(180deg)
}

.activity .floor:first-child {
    margin-top: 15px
}

.floor {
    background: #fff;
    box-shadow: 0 4px 8px #c7c7c7;
    padding: 10px;
    clear: both;overflow: hidden;
}

.floor .floorTitleImg {
    float: left;
    width: 100%;

}

.floor .floorRright {

    width:100%;
    padding: 5px 10px;
    box-sizing: border-box;
}

.floor .floorRright h2 {
    font-size: 22px;
    font-weight:500;
    margin: 0;
    color: #e73b3b;
    line-height: 35px;height:35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%
}

.floor .floorRright p {
    font-size: 14px;
    padding: 10px 0;

line-height: 25px;
}

.floor .floorRright a {
    font-size: 16px;
    display: inline-block;
    line-height: 35px;

    float: right;

    border-radius: 4px;
    text-align: center;
vertical-align: middle;
    box-sizing: border-box;
    padding-right: 30px;color:#222;
}

.floor .floorRright a i {
    position: absolute;
    margin-top: 10px;
    margin-left: 12px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #ccc;
    transition: .1s;
    height:0px;
    width: 0px;
}
.floor .floorRright a.show i{

    border-top: 0px !important;
    border-bottom:12px solid #ccc;
}

.floorDetail {
    margin-top: 15px!important;
    border-top: 2px dashed #e6e6e6;
    overflow: hidden;
    display: none;
    width: 100% !important;
    clear: both
}

.floorDetail p {
    margin: 10px 0;
    font-size: 14px;
    word-wrap: break-word
}
.floorDetail em{line-height: 25px;}
.floorDetail table {
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

.floorDetail table th {
    background-color: #4393be;
    color: #fff;
    font-weight: 100
}

.floorDetail table td,.floorDetail table th {
    border: 1px solid #e6e6e6;
    height: 40px;
    font-size: 14px
}

.actLine {
    background: url(../Images/actLine.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 16px;
    padding: 0 3px;
    margin-left: -3px
}

.floorDetail em,.floorDetail i {
    font-size: 14px
}

.floorDetail em {
    margin-right: 15px
}

.floorDetail i {
    color: #f76727
}

.floorDetail a {
    font-size: 16px;
    color: #fff;
    background: #e73b3b;
    border-radius: 4px;
    padding: 7px 18px
}

.floorDetail h3 {
    display: block;
    background: #d2dbe0;
    width: 84px;
    text-align: center;
    line-height: 28px;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.floorDetail h3 i {
    display: inline-block;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 10px solid #d2dbe0;
    position: absolute;
    margin-left: 14px
}

.floorDetail .disable {
    background: #d6d6d6;
    color: #999
}

.tbplus {
    position: relative;
    width: 145px
}

.tbplus em {
    position: absolute;
    right: -10px;
    top: -2px;
    font-size: 14px
}

.tbplus ins {
    border-bottom: 1px solid #7fbbdc;
    position: absolute;
    width: 147px;
    transform: rotate(15.2deg);
    left: -1px;
    top: 19px
}

.tbplus i {
    position: absolute;
    left: 12px;
    bottom: 3px;
    color: #fff
}

.actTitle {
    cursor: pointer;

}

.activity {
    box-sizing: border-box
}

.activity .show a i {
    transform: rotate(180deg)
}

.activity .floor:first-child {
    margin-top: 15px
}



.activityCon{font-size: 16px;line-height: 30px;}

.activityCon img{max-width: 100%;}