@import url(public.css);

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,input,label{margin:0;padding:0}body,td{font:12px/1.5 simsun,tahoma}
 h1,h2,h3,h4,h5,h6{font-size:100%}em,i,s{font-style:normal}
.eng{font-family:Tahoma,Geneva,sans-serif}
li{list-style:none}a{color:#0F3F94;text-decoration:none}
a:hover{color:#F30;text-decoration:underline}
img{border:0;vertical-align:middle}
table{}td{empty-cells:show}
.gray,.gray a{color:#999}
.red,.red a{color:#f30}
.blue,.blue a{color:#0f3f94}
.l{float:left}
.r{float:right}
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.m_b10{margin-bottom:10px}
.f12{font-size:12px;font-weight:normal}
.f14{font-size:14px}
.ti{overflow:hidden;text-indent:-2000em;display:block}
.clear{height:0;overflow:hidden;clear:both}
.topbar,.site_link li,.part_nav li,.nav_list_in,.nav_list_ul,.m_li,.contact_r .phone_num,.contact_r .c_ge,.contact_r .custom_s,.home_hb,.home_hb_in,.home_hb_in2,.home_hb a,.btn_Lblue_m,.btn_Lora_m,.r_login a,.list_icon li{background-image:url(../images/index_yh01.png);background-repeat:no-repeat}
.ms_userico,.login-bd a,.znx_ico,.znx_h_ico,.hml_ico,.hml_h_ico,.scroll_up,.scroll_down,.r_dc_logo a,.toolTips .tips-hd,.btn_Lblue_s,.part_nav .lott .hover,.btn_Lblue_l,.selt_btn,.aga_ul li,.rec_text,.sp_nxz,.btn_Dora_m,.cprj-cont a,.btn_Dora_s,.security a,.bb_div a{background-repeat:no-repeat}
.ms_tip .bg,.ms_tip .down,.ms_tip .up,.here,.here .close,.tipsDetail h5,.tips_box .close a,.dl_err,.kbq,.band_text .bd_title,.icon_suc,.l_after .suc_bg,.btn_Dora_b,.btn_Lora_b,.btn_Dora_q{background-repeat:no-repeat}
.btn_Lblue_m,.btn_Lora_m,.btn_Dora_m,.btn_Lblue_s{overflow:hidden;text-align:center;display:inline-block;font-size:12px;text-decoration:none;cursor:pointer;border:0;vertical-align:middle;height:22px;width:65px;line-height:22px}
.btn_Dora_s{background-position:-89px -452px;color:#fff;text-decoration:none;border:0;width:38px;height:18px;line-height:20px;margin-right:8px;vertical-align:middle;cursor:pointer}

.btn_Dora_b,.btn_Lora_b,.btn_Dora_q{line-height:32px;font-size:14px;font-weight:bold;text-decoration:none;text-align:center;display:inline-block;color:#fff;border:0;width:100px;height:30px;cursor:pointer}
.btn_Dora_b,a.btn_Dora_b:hover{background-position:0 -76px;color:#fff;text-decoration:none}
.btn_Lora_b,a.btn_Lora_b:hover{background-position:-102px -76px;color:#da4901}
.btn_Dora_q,.btn_Dora_q:hover{background-position:0 -45px;width:147px;height:30px;color:#fff;text-decoration:none}
.hd{background-color:#eeeeee;height:30px;line-height:31px;overflow:hidden;border-bottom:1px solid #e6eef9}
.title{}
.hd .add{float:right;padding-right:4px;font-size:12px;color:#ccc}
.add a{margin:0 6px}
.tabs-cnt,.tips-bd{display:none}
.tb{text-align:center;border-collapse:separate}
.tb th{background-position:0 -1550px;background-repeat:repeat-x;height:33px;line-height:33px;font-weight:normal;border-bottom:1px solid #dddfe7;color:#999}
.tb td{height:36px;height:34px\9;border-top:1px solid #fff;border-bottom:1px solid #e1e1e1;background:#f4f4f4;vertical-align:middle}@media screen and (-webkit-min-device-pixel-ratio:0){.tb td{height:34px}}
.list_icon li{background-position:2px -1071px;}
.hs_lott_a .arrows,.b_sdown,.b_sup{display:block;width:0;height:0;border:4px solid #e7f0fa;border-top-color:#0F3F94;font-size:0;line-height:0;margin-left:5px;cursor:pointer;vertical-align:-1px}
.b_pm,.b_pm4{background:#ffda9f;display:inline-block;height:12px;line-height:12px;font-family:Tahoma,Geneva,sans-serif;border:1px solid #eec787;color:#f00;width:12px;vertical-align:middle;text-align:center;*padding-bottom:1px;font-size:11px}
.b_pm4{background:#fffdc8;border:1px solid #e6e4b8;color:#f28300}
.section,.footer{width:1000px;margin:0 auto}
.section{background:#fff; margin-top:10px;height:auto;}
.home_l,.home_l2,.home_m{float:left}
.home_l{float:left;width:200px}
.home_l2{width:760px;overflow:hidden}
.home_m{float:left;width:750px}
.home_r{width:240px;float:right}
.home_l2 .hd{height:30px;overflow:visible;line-height:30px;background-color:#3c7ec8;border:0}
.home_l2 .title{color:#fff;display:inline;padding:0 5px 0 10px;line-height:30px}
.home_l2 .add{color:#fff;margin-right:4px;padding:0;display:inline}
.home-ads{width:1000px;margin:-10px auto 10px;clear:both}
.r_content{background:#fff;min-height:40px;_height:40px;padding:0 10px;line-height:22px;overflow:hidden}
.article{width:792px;float:right; margin-bottom:10px;}
.topbar{height:25px;min-width:1000px;line-height:22px;position:relative;z-index:5;background-position:0 -736px;background-repeat:repeat-x;overflow:visible}
.topbar a{text-decoration:none;color:#0F3F94}
.topbar a:hover{color:#f00}
.person_part{float:left}
.person_part li{margin-right:9px;float:left;position:relative}
.gray_fg{color:#d9d9d9}
.btn_Lblue_l{background-position:-46px -472px;width:35px;height:18px;line-height:20px;margin-top:1px;text-align:center;display:block}
.btn_Lblue_l:hover{text-decoration:none;color:#0F3F94}
.site_link{float:right}
.site_link li{background-position:right -1041px;padding:0 9px 0 10px;float:left}
.site_link a{color:#888;text-decoration:none;cursor:pointer}
.site_link a:hover{color:#F30;text-decoration:none}
.site_link .favorites{padding-right:0;background:none}
.topbar .hover{background-color:#fff;border:1px solid #bfbfbf;border-bottom:0}
.li_ms .hover{border:0;background-color:transparent}
.arrows{border-color:#7e7e7e #fbfbfb #fbfbfb;border-style:solid;border-width:4px;font-size:0;height:0;line-height:0;position:absolute;right:7px;top:8px;width:0}
.hover .arrows{border-color:#fff #fff #7e7e7e;border-width:5px\9;right:6px;right:4px\9;top:3px;top:0px\9}
.my_account{width:74px;height:23px}
.a_block{width:60px;text-align:center;height:23px;display:block;padding-right:12px;position:relative}
.a_block:hover{text-decoration:underline}
.topbar .c_btn,.topbar .c_btn:hover{color:#d84600}
.my_account .hover{width:58px;z-index:99;padding-right:11px;height:22px;line-height:21px;line-height:20px\9}
.account_inner{position:absolute;left:0;top:22px;display:none;width:146px;border:1px solid #bfbfbf;background:#fff;padding:6px 10px 4px;z-index:4}
.account_inner li{float:none;margin-right:0;line-height:18px}
.account_inner em{color:#F00;font-style:normal;font-weight:bold}
.account_inner a{color:#333}
.account_inner a:hover{text-decoration:underline;color:#f30}
.account_inner .tr{line-height:24px}
.account_inner .gray{background:none}
.account_inner .gray a{font-weight:bold;color:#0F3F94;text-decoration:underline}
.znx_ico,.znx_h_ico,.hml_ico,.hml_h_ico{height:12px;display:inline-block;padding-left:20px;line-height:12px;_vertical-align:-2px;_margin-top:3px}
.znx_ico{background-position:0 -81px}
.znx_h_ico{background-position:0 -103px}
.hml_ico{background-position:0 -44px}
.hml_h_ico{background-position:0 -62px}
.site_link .site_nav{width:72px;height:23px;cursor:pointer;margin:0}
.site_nav_h{display:block;height:23px;width:60px;text-align:center;padding-right:12px;position:relative;z-index:99}
.site_nav .hover,.site_link .site_nav_h:hover{padding-right:11px;width:58px;line-height:21px;line-height:20px\9;height:22px;text-decoration:underline}
.quicklink{display:none;position:absolute;margin-left:-155px;width:200px;text-align:left;padding:9px 12px;border:1px solid #bfbfbf;background:#fff;color:#999;z-index:4;margin-top:-1px}
.quicklink a{float:none;color:#666;display:inline-block;line-height:18px}
.quicklink a:hover{color:#f00;text-decoration:underline}
.qk_li{border-bottom:1px solid #e5e5e5;margin-bottom:8px}
.qk_li h3 a{font-size:12px;font-weight:bold;color:#0F3F94}
.qk_li p{line-height:18px;margin:4px 0}
.qk_li p a{margin-right:6px}
.qk_li p .br{margin-right:0}
.qk_li span{width:36px;height:36px;float:left;display:block}
.quicklink .qk_b{text-align:left}
.quicklink .qk_b a{color:#0F3F94;font-weight:bold}
.person_part .li_ms{line-height:16px;height:16px;padding:3px 0}
.ms_userico{background-position:0 0;cursor:pointer;width:16px;height:16px;display:inline-block;margin:0 5px 0 2px;vertical-align:middle}
.ms_tip{overflow:visible;position:relative}
.ms_tip .cnt{width:185px;position:absolute;top:-36px;left:-15px;display:none}
.ms_tip .cnt_up{top:20px}
.ms_tip .bg,.ms_tip .down,.ms_tip .up{width:185px;height:28px;line-height:28px;text-align:center}
.ms_tip .bg{background-position:0 -170px;position:relative}
.ms_tip .down,.ms_tip .up{width:17px;height:9px;display:block;overflow:hidden;position:absolute;left:15px}
.ms_tip .down{background-position:0 -205px;top:26px}
.ms_tip .up{background-position:0 -217px;top:-7px}
.xms{display:none}
.ms_tip .bg a:hover{color:#F30;text-decoration:underline}
.ms_gray{background-position:0 -22px}
.holiday_bg{width:194px;height:66px;background:url(../images/m_logo.png) no-repeat;float:left}
.home_ht .logo{width:135px;height:66px;display:block;margin-left:20px;text-indent:-99999em}
.part_nav{width:515px;height:29px;font-size:14px;position:absolute;top:37px;left:170px;z-index:2}
.part_nav li{height:29px;float:left;text-align:center}
.part_nav a{height:29px;line-height:29px;display:block;font-weight:bold;text-decoration:none}
.part_nav a:hover{text-decoration:none}
.part_nav .home_cur{width:62px;height:31px;background-position:0 0;background-color:#5c8cc5;margin:0 4px 0 0}
.home_cur a{font-weight:bold;color:#fff;font-size:14px}
.home_cur a:hover{color:#fff}
.part_nav .pai_Btn{background-position:0 -32px;width:71px}
.part_nav .nav_list{background-position:0 -763px;background-repeat:repeat-x;margin-right:4px}
.nav_list_in,.nav_list_ul{float:left;height:29px}
.nav_list_in{background-position:0 -825px;padding-left:6px}
.nav_list_ul{background-position:right -794px}
.m_li{width:85px;padding-right:1px;background-position:right -973px}
.part_nav .last_li{background:none}
.lott{width:100px;height:28px;position:relative}
.part_nav .hs_lott_a{width:87px;padding:6px 10px 5px 0;height:16px;line-height:16px;margin:1px 0 0 3px;position:relative}
.part_nav .lott .hover{background-position:0 -288px;color:red;text-decoration:underline;z-index:6}
.lott .arrows{top:11px;right:12px}
.lott .hover .arrows{border:4px solid #f7f9fe;border:5px solid #f7f9fe\9;border-bottom-color:#0F3F94;top:7px;top:5px\9;right:10px\9}
.hs_lott{background:#dae5f3;border:1px solid #4580c3;padding:2px;width:133px;font-size:12px;position:absolute;left:3px;top:25px;display:none;z-index:5}
.hs_w{background:#f7f9fe}
.hs_lott ul{width:69px;float:left;color:#999;padding:5px 0}
.part_nav .hs_lott li{width:53px;height:20px;text-align:left;line-height:20px;padding:0 8px;float:none;background:none}
.hs_lott .r_szc{width:48px}
.hs_lott .r_szc li{width:48px}
.part_nav .hs_lott a{font-weight:normal;background:none;display:inline;height:20px;line-height:20px}
.contact_r{width:216px;height:52px;position:absolute;top:6px;right:0;overflow:hidden}
.contact_r span,.contact_r .custom_s{float:left}
.contact_r .phone_num{background-position:0 -69px;width:103px;height:48px;margin:3px 0 0}
.contact_r .c_ge{background-position:-126px -9px;width:2px;height:52px;font-size:0;margin:0 8px 0 18px}
.contact_r .custom_s{background-position:0 -122px;width:85px;height:42px;margin-top:7px}
.home_hb{width:1000px;height:36px;line-height:34px;text-align:left;position:relative;z-index:1;background-position:0 -894px;background-repeat:repeat-x;overflow:hidden}
.home_hb_in,.home_hb_in2{height:36px;float:left;width:1000px}
.home_hb_in{background-position:0 -857px}
.home_hb_in2{background-position:right -933px}
.home_hb ul{padding-left:14px}
.home_hb a,.home_hb a:hover{color:#fff}
.home_hb li{display:inline}
.home_hb a{padding:0 8px 0 4px;display:inline-block;background-position:right -1006px}
.home_hb .last_li a{background:none;padding-right:0}
.home_hb .mobile_bg{width:60px;display:inline-block;background-position:0 -175px;padding:0 0 0 25px;position:absolute;top:0;right:5px}
.login-part{position:relative}
.login-hd{float:left;height:22px;position:relative;top:-1px;margin:1px 1px 0;padding:0 20px 0 8px}
.login-part .hover{margin:0;z-index:3}
.login-bd{position:absolute;width:100px;left:0;top:21px;border:1px solid #BFBFBF;background:#FFF;display:none}
.login-bd a{display:block;padding-left:30px;overflow:hidden}
.login-bd .ali{background-position:9px -123px}
.login-bd .qq{background-position:9px -148px}
.login-bd .sina{background-position:9px -172px}
.login-bd .mail{background-position:9px -195px}
.login-bd .pptv{padding-left:47px;background-position:6px -223px}
.login-bd .zongheng{background-position:9px -253px}
.here{width:210px;height:22px;_height:20px;line-height:24px;padding:6px 6px 2px 7px;_padding:12px 6px 2px 7px;position:absolute;top:17px;left:3px;background-position:0 -120px;overflow:hidden}
.here_tip{font-weight:normal}
.here .close{width:13px;height:15px;display:inline-block;background-position:-184px -154px;overflow:hidden;vertical-align:middle}
.here .close:hover{background-position:-197px -154px;vertical-align:middle}
.footer{width:1000px;margin:auto}
.f-nav{color:#D0D0D0;text-align:center}
.f-nav .hd{height:2px;line-height:2px;font-size:0;overflow:hidden}
.f-link{padding:5px 0;border:1px solid #c6c6c6;background:#eee}
.f-link a{margin:0 10px}
.f-guide{border:1px solid #c6c6c6;border-top:0}
.f-guide-inner{padding:5px 0;border-top:2px solid #F5F5F5}
.f-guide a{margin:0 5px}
.f-guide em{color:#545454}
.footer a{color:#0f3f93;text-decoration:none}
.footer a:hover{color:#f30}
.copy_new{text-align:center;line-height:150%;padding:0}
.copy_new p{color:#545454;line-height:22px;clear:both;margin-bottom:10px}
.copy_new a{color:#545454;text-decoration:none}
.copy_new a:hover{color:#f00;text-decoration:none}
.copy_new .security{line-height:18px}
.security a{margin:10px 21px 0 0;display:inline-block;width:74px;height:38px;padding:5px 0 0 44px;color:#545454;border:1px solid #c8c8c8;overflow:hidden;vertical-align:middle}
.security a:hover{color:#545454}
.security .security01{background-position:9px -982px}
.security .security02{background-position:8px -1027px}
.security .security03{background-position:12px -1218px}
.security .security04{background-position:8px -1078px}
.security .security05{background-position:6px -1122px}
.security05 span{font-size:11px;font-family:Arial,Helvetica,sans-serif}
.security .security06{background-position:6px -1167px}
.security .security07{background-position:0 -1271px;margin-right:0}
.bb_div{text-align:center}
.bb_div a{display:inline-block;margin-right:21px;width:127px;height:37px}
.bb_div .bank01{background-position:0 -1318px}
.bb_div .bank02{background-position:0 -1356px}
.bb_div .bank03{background-position:0 -1394px}
.info_index_changwei a{color:#333;margin-left:12px!important;display:inline-block}
.f-links{margin-top:10px;padding:8px 10px;border:1px solid #E4E4E4}
.f-links strong{color:#999;margin-right:5px}
.f-links a{margin-right:12px;color:#999}
.f-links a:hover{color:#f30}
.pai_gif{position:absolute;widows:28px;height:18px;right:-15px;top:-3px}
.h_l_cp{border:1px solid #A01E14; margin-bottom:10px}
.h_l_cp .hd{height:25px;border-bottom-color:#d62628;background-color:#a01e14;}
.h_l_cp .title{color:#fff;font-size:12px;line-height:25px;border:0px;padding-left:5px;}
.h_l_cp a{color:#800000}
.h_l_cp a:hover{color:#f00}


.h_l_cp1{width:196px; margin-bottom:10px;z-index:100000000000000;position:absolute;left:0;top:49px;clear:both;background-color:#fff;}
.h_l_cp1 .hd{height:25px;border-bottom-color:#d62628;background-color:#a01e14;}
.h_l_cp1 .title{color:#fff;font-size:12px;line-height:25px;border:0px;padding-left:5px;}
.h_l_cp1 a{color:#800000}
.h_l_cp1 a:hover{color:#f00}

.cz-list{background:#fff6de;overflow:hidden;zoom:1}
.cz-list .first{width:100%;margin-top:5px;clear:both;display:block;}
.cz-list .ico{width:50px;text-align:center;border-bottom:1px #ccc dotted ;}
.cz-list .list{width:140px;text-align:center;border-bottom:1px #ccc dotted ;line-height:25px;}
.cz-list .list a{font-size:16px;color:#333;font-weight:700;}
.cz-list .list a:hover{color:#ff0000;}
.cz-list dl{border-top:1px solid #f2ece7;width:100%;margin-top:-1px;}
.cz-list dt{float:left;height:31px;*height:35px;margin:4px 0 4px 0;padding-left:36px;overflow:hidden;}
.cz-list .Ssl{background-position:6px -251px;line-height:25px;}
.cz-list .Ssc{line-height:25px;background-position:6px -283px}
.cz-list .JxSsc{line-height:25px;background-position:6px -355px}
.cz-list .HljSsc{line-height:25px;background-position:6px -321px}
.cz-list .xjSsc{line-height:25px;background-position:-101px -397px;height:26px}
.cz-list .tjSsc{line-height:25px;background-position:-101px -442px;height:26px}
.cz-list .Syxw{line-height:25px;background-position:-101px -355px}
.cz-list .cqSyxw{line-height:25px;background-position:6px -396px;height:26px}
.cz-list .gdSyxw{line-height:25px;background-position:6px -442px;height:26px}
.cz-list .syydj{line-height:25px;background-position:-101px -321px;height:26px}
.cz-list .sd{line-height:25px;background-position:-101px -252px;height:26px}
.cz-list .Pls{line-height:25px;background-position:-101px -284px;height:26px}
.cz-list .lks {line-height:25px;background-position:-101px -217px;height:26px }
.cz-list a{display:inline-block;margin-right:10px;color:#8f1e00;white-space:nowrap}
.cz-list dt a{display:block;width:100%;height:100%;margin-left:-30px;padding-left:20px;color:#565656;text-decoration:none}
.cz-list dd{float:left;width:150px;padding:10px 0 10px 15px;line-height:18px;position:relative}
.cz-list .icon{position:absolute}
.cz-ssq{position:relative}
.cz-ssq .j{background:url(../images/jiajiang.gif) no-repeat;height:16px;position:absolute;right:-14px;top:-5px;width:14px}
.speed-buy{width:790px;float:left;padding:12px 0 10px;_padding:10px 0 10px;border:1px solid #DBDBDB;background:#F9F9F9;margin:0 0 7px;}
.kj_title{position:absolute;left:8px;top:12px;width:70px;height:18px;background-position:0 -511px}
.kj_tabs{width:268px;height:25px;margin-left:10px}
.kj_tabs p{margin-left:80px;width:160px;_width:148px;height:28px;_height:26px;color:#666666}
.kj_tabs li{float:left;width:70px;height:25px;margin-right:5px;_margin-top:2px;}
.kj_tabs a{font:12px/22px simsun;color:#333;}
.kj_tabs div a{color:#fff;}

.kj_tabs a:hover{text-decoration:none;}
.kj_con{padding-top:10px;_margin-top:-80px;_width:80px;_height:75px;_position:absolute;overflow:hidden;zoom:1;_background:#F9F9F9;}
.kj_con .logo{margin:-10px 0 0 0;display:inline;float:left;width:75px;height:75px;overflow:hidden}
.kj_con .logo a{width:100%;height:100%}
.kj_con .zqdc{background-position:0 0}
.kj_con .Ssc{background-position:0 -63px}
.kj_con .dlc{background-position:0 -126px}
.kj_con .sfc{background-position:0 -189px}
.kj_con .plw{background-position:0 -252px}
.kj_con .Pls{background-position:0 -315px}
.kj_con .eexw{background-position:0 -378px}
.kj_con .qxc{background-position:0 -441px}
.kj_con .qlc{background-position:0 -504px}
.kj_con .sd{background-position:0 -567px}
.kj_con .dlt{background-position:0 -630px}
.kj_con .ssq{background-position:0 -693px}
.kj_con .xync{background-position:0 -756px}
.kj_con .klsf{background-position:0 -819px}
.kj_tabs .bd{}
.awards{line-height:28px}
.kj_con .r p{line-height:24px}
.kj_tabs .btn{margin-top:10px}
.btn_Lora_m{background-position:0 -538px;color:#da4901;}
.btn_Lora_m:hover{color:#da4901;text-decoration:none}
.time_left{font:normal 18px/20px Tahoma,Geneva,sans-serif}
.r_login,.r_login_h{margin-bottom:10px}
.r_login{height:40px;padding-top:2px;clear:both}
.r_login a{width:128px;height:37px;margin-right:14px;display:block;line-height:37px;font-size:14px;text-align:center;float:left;background-position:0 -586px}
.r_login a:hover{color:#fff;text-decoration:none}
.login_btn:hover{background-position:0 -623px}
.r_login .up_btn{margin-right:0;background-position:0 -660px}
.up_btn:hover{background-position:0 -697px}
.r_login_h{background:#fef3db;border:1px solid #fec799;height:39px;padding:1px 0 0 10px;line-height:18px;color:#999}
.in_block{width:115px;display:inline-block}
.r_login_h .red_f{color:#d84600}
.login_loading{height:32px;width:32px;display:inline-block;position:absolute;background:url(../images/loading.gif) no-repeat center}
.r_login_h a{color:#333}
.r_login_h a:hover{color:#f30}
.notice{border:1px solid #dadada;position:relative}
.notice_nav{border-left:1px solid #cdcdcd;border-left-width:1px\9;*border-left-width:0;background-color:#f4f4f4;width:100%;height:25px;line-height:25px;margin:0 0 -1px -1px;overflow:hidden}
.notice_nav li{width:75px;text-align:center;height:24px;line-height:25px;color:#0F3F94;float:left;cursor:default;margin-left:-1px;border-right:1px solid #f4f4f4;border-left:1px solid #cdcdcd}
.notice_nav .cur{background-color:#fff;border-right:1px solid #cdcdcd;color:#333;position:relative;height:25px}
.notice_cont .add{position:absolute;top:-3px;right:10px;}
.notice_cont{padding:6px 9px 0;height:158px;border-top:1px solid #dadada;overflow:hidden;line-height:30px;background-color:#fff}
.notice_cont li{padding:0 0 0 10px;margin:0;line-height:25px;height:25px;overflow:hidden;padding-left:10px;}
.notice_cont a{float:left; color:#222;}
.time{float:right;color:#999}
.notice_cont .help li{width:112px;float:left;margin-right:2px;*height:19px}
.notice_cont .help a{float:none}
.notice_cont .help .last_li{background:none;width:246px;text-align:center;padding:5px 0}
.new_dj{border:1px solid #dadada}
.new_dj .hd{background:#f4f4f4;border-bottom:1px solid #f1f1f1;height:29px;line-height:29px}
.new_dj .title{font-weight:normal;font-size:12px}
.new_dj .r_content{padding:10px 0 10px 9px;height:68px;overflow:hidden}
.new_dj li{padding-left:10px;line-height:20px}
.zj_ad{width:268px;height:33px;position:absolute;bottom:0;right:1px}

.kaijiang,.jc_news,.top-bonus,.guide{border:1px solid #dbdbdb;}
.ont_tab{position:absolute;top:-30px;right:0}
.ont_tab li{width:42px;margin-left:2px;height:30px;line-height:32px;float:left;text-align:center;color:#0F3F94;cursor:default;overflow:hidden}
.ont_tab .cur{color:#333;font-weight:bold;border-left:1px solid #D4DDE7;border-right:1px solid #D4DDE7;margin-right:-1px;background:#FFF;position:relative}
.kaijiang .hd{border-bottom:0}
.kaijiang .title{border:none;}
.kj_box{padding:0;overflow:visible;border-top:1px solid #D4DDE7;margin-top:-1px;position:relative}
.kj_box1{}

.kj_box1  { padding: 3px 8px; }
.kj_box1 ul {  background: transparent url('../images/nums.gif') no-repeat 0 8px; }
.kj_box1  ul li { height: 24px; line-height: 24px;font:14px; padding: 0 6px 0 22px; border-bottom: 1px dashed #ccc; text-align:left;}
.kj_box1 span { float: right; color: #222; }

#scroll_con{height:auto;overflow:hidden}
.kj_sort{margin:-1px 0 0}
.kj_sort dt{background:#fcfaf7;border-top:1px solid #edebeb;height:20px;line-height:20px;padding-left:10px}
.kj_sort dd{padding-left:10px}
.kj_num{line-height:27px;height:27px;color:#f00;background:#fff;font-weight:bold;font-size:14px;margin-top:1px}
.kj_num span{float:right;margin-right:10px}
.kj_sort .kj_info{line-height:20px;padding:5px 0}
.kj_sort p{padding-left:10px}
.kj_sort .gc{background:url(../images/zs.gif) no-repeat 8px 3px;padding-left:28px}
.kj_sort .jm{background:url(../images/jmoney.gif) no-repeat 8px 3px;padding-left:28px}
.kj_sort .kj_link{text-align:right;padding-right:10px}
.scroll_btn{height:24px;border-top:1px solid #D7DBE6;overflow:hidden;clear:both}
.scroll_up,.scroll_down{background-position:0 -1460px;border-right:1px solid #D7DBE6;width:118px;display:block;height:10px;padding:6px 0 8px;height:13px\9;padding:4px 0 7px\9;float:left;text-align:center}
.scroll_down{border-right:0;padding:11px 0 3px}
.scroll_up:hover,.scroll_down:hover{background-position:0 -1433px}
.b_sdown,.b_sup{border:5px solid #fafafa;border-top-color:#0F3F94;margin:auto;cursor:pointer;vertical-align:0}
.b_sup{border:6px solid #fafafa\9;border-top-color:#fafafa;border-bottom-color:#0F3F94}
.jc_news{width:468px}
.jc_news_cont{height:436px;overflow:hidden;padding:2px 8px 10px;background:#fff;line-height:18px}
.jc_news_cont li{padding:4px 0;line-height:16px;height:16px;overflow:hidden;font-size:14px;white-space:nowrap;text-overflow:hidden;-o-text-overflow:hidden;overflow:hidden;width:449px}
.jc_news_cont em{margin-right:10px;color:#999}
.jc_news_cont .bt{padding:14px 0 10px 3px;font-weight:bold}
.jc_news_cont .line{border-top-style:dashed;border-top:1px solid #e9ebed;width:448px;float:left;margin-top:10px}
.jc_news_cont .line2{border-top-style:dashed}
.jc_news_cont .blue{color:#00f}
.jc_news_cont .tg{width:225px;float:left}
.tz_pai{margin:0}
.m_r_ad{background-color:#E4E4E4;padding:2px 2px 0;height:102px;margin-bottom:10px}
.m_r_ad img{margin-bottom:2px;border:1px solid #DADADA}
.zqtz{border:1px solid #d7dbe6}
.zqtz .hd{background-color:#D7E6F9}
.zqtz .r_content{padding:0;height:334px}
.tjss_tblock{overflow:hidden;float:left;height:225px;padding:4px 0 4px 0;}
.zxzj_tblock{overflow:hidden;float:left;height:126px;}
.tjss_tblock li{padding:4px 0 3px 10px;float:left;width:248px;overflow:hidden}

.tjss_team{color:#999;font-size:12px;width:168px}
.tjss_team dt{padding-bottom:2px;font-size:14px}
.tjss_info{color:#333;font-size:12px;line-height:18px;margin-bottom:6px}
.tjss_info b{color:#999;font-weight:normal}
.tjss_info .tidian{color:#C33}
.tjss_vs{color:#ccc}
.tjss_lq_team img{border:#e3e3e3 solid 1px}
.tjss_c1 a,.tjss_c1 a:hover{color:#0F3F94}
.teamDiv{background-color:#e1edfb;height:90px;width:62px;overflow:hidden;margin-right:14px;text-align:center}
.teamDiv a{background:#e7eef8;margin:2px;height:84px;width:56px;border:1px solid #b7d1e5;color:#0f3f94;display:block;overflow:hidden}
.teamDiv img{width:54px;height:62px}
.teamDiv a:hover{border:1px solid #64AEFF;color:#f30;cursor:pointer}
.teamDiv span{font-weight:bold;display:inline-block;padding-top:3px}
.btn_Lblue_m{background-position:0 -562px;color:#0F3F94}
.btn_Lblue_m:hover{color:#0F3F94;text-decoration:none}
.against{position:relative}
.M_content{border:1px solid #b1c7df;border-top:0;zoom:1;height:562px;_height:561px;background:#f8f8f8}
.against .tb td{height:28px;line-height:28px;height:29px\9;line-height:29px\9;height:28px\0;line-height:28px\0}
.aga_ul{position:absolute;top:0;right:0;padding-right:10px}
.aga_ul li{float:left;background-position:0 -382px;padding-left:1px;margin:3px 0 0 -1px;_margin:3px 0 0 0;width:81px;height:27px;overflow:hidden;line-height:29px;font-weight:bold;font-size:14px;color:#fff;text-align:center;cursor:pointer}
.aga_ul .first_li{background-position:-60px -176px}
.aga_ul .cur{background-position:0 -323px;color:#333}
.aga_c{clear:both;padding:0}
.aga_selt,.aga_lk,.change_nav{height:21px;line-height:21px;padding:4px 10px;_padding:4px 10px 3px;background-position:0 -1487px;background-repeat:repeat-x;border-bottom:1px solid #b1c7df}
.aga_s_l{display:inline;float:left}
.aga_s_l select{margin-right:10px}
.selt_btn{width:87px;height:20px;background-position:0 -451px;color:#0f3f94;border:0;vertical-align:-1px;line-height:20px;overflow:hidden;cursor:pointer}
.aga_s_r{display:inline;float:right}
.aga_lk{background-position:0 -1518px;border-bottom-color:#dddfe7;color:#999}
.team_1{display:inline-block}
.team_vs{padding:0 7px;color:#999}
.count{color:#999}
.a_zs{display:inline-block;width:35px;font-family:Tahoma,Geneva,sans-serif}
.sp_nxz{background-position:-29px -423px;color:#333;cursor:pointer;font-family:Tahoma,Geneva,sans-serif;font-weight:bold;height:26px;line-height:26px;width:26px;display:inline-block}
.sp_xz{background-position:0 -423px;;color:#FFF}
.sp_w36{display:inline-block;text-align:center;width:36px;height:28px}
.aga_intr{height:21px;line-height:21px;padding:6px 10px;padding:4px 10px\9;*padding:6px 10px}
.btn_Dora_m{color:#fff;background-position:-57px -423px}
.btn_Dora_m:hover{color:#fff;text-decoration:none}
.a_i_l{float:left}
.a_i_r{float:right;margin-right:40px}
.tb .username{padding-left:12px;text-align:left}
.tb .tl{padding-left:10px}
.tb .tr{padding-right:10px}
.tb .th_top td{background:#faefd1}
.tb .even td{background:#efefef}
.tb .hover td{background:#ffffe8;color:#f30}
.tb .gray{color:#333}
.r_dc,.cprj{width:238px;height:74px;overflow:hidden;margin-top:10px}
.lott-helper .hd{border:0;border-bottom:1px solid #e6eef9}
.r_dc_logo{padding:10px 0 0 12px;float:left}
.r_dc_logo li{float:left;padding-right:7px}
.r_dc_logo a{width:54px;height:82px;display:block;float:left;border:1px solid #d4dfeb;overflow:hidden}
.r_dc_logo a:hover{border-color:#64aeff}
.r_dc_logo .zqzl_pic{background-position:0 -557px}
.r_dc_logo .zqzl_pic2{background-position:-57px -557px}
.r_dc_logo .zqzl_pic3{background-position:0 -641px}
.r_dc_logo .zqzl_pic4{background-position:-57px -641px}
.data_tool{padding:8px 8px 0;float:left}
.t_ico{background-image:url(../images/Public/index_yh02.png);background-repeat:no-repeat}
.t_ico{background-repeat:no-repeat}
.t_ico{background-position:-95px -482px;width:50px;line-height:18px;height:18px;padding:19px 0 0;color:#999;text-align:center;float:left}
.tool_a{background-position:-95px -523px}
.links{width:168px;height:36px;overflow:hidden;line-height:18px;padding:1px 0 8px;display:inline;float:left}
.links a{margin-right:8px}
.zqzl{width:240px;background-color:#f8f8f8;padding:5px 8px 5px 20px;border-top:1px solid #ececec}
.zqzl .t_ico{width:33px;height:33px;background-position:0 -509px;margin:20px 0 0 0;padding:0}
.zqzl .jczq{background-position:-42px -509px;top:101px}
.zqzl .links{width:185px;margin-left:20px;padding:0 0 10px;line-height:22px;height:66px;overflow:hidden}
.zqzl .links a{margin-right:10px;word-break:break-all}
.cprj{height:191px}
.cprj-cont{padding:10px 10px 0;width:264px}
.cprj-cont li{float:left;width:114px;margin:0 17px 12px 0;line-height:22px}
.cprj-cont a{cursor:pointer;border:1px solid #ededed;padding:8px 0 8px 58px;background-color:#f5f5f5;width:56px;height:44px;float:left;overflow:hidden}
.cprj-cont .r_zc_ico{background-position:6px -733px}
.cprj-cont .r_yg_ico{background-position:6px -791px}
.cprj-cont .r_ssq_ico{background-position:6px -850px}
.cprj-cont .r_sj_ico{background-position:6px -912px}
.cprj-cont a:hover{border:1px solid #dbdbdb;text-decoration:none}
.hemai .hd{position:relative;z-index:4}
.hemai .add a{color:#fff}
.hemai .M_content{height:468px;background:#f8f8f8;position:relative;z-index:1}
.change_nav{height:29px;width:100%;border-top:1px solid #b1c7df;padding:0;display:block;_overflow:hidden}
.change_nav li{border-right:1px solid #b1c7df;height:30px;line-height:30px;color:#0F3F94;text-align:center;width:80px;position:relative;float:left;cursor:pointer}
.change_nav a{display:block;width:100%;height:100%;position:absolute;left:0;top:0}
.change_nav .cur a{background:#fff;font-weight:bold}
.cur11 a {  display:block; width:70px; height:25px;}
.change_nav a,.change_nav a:hover{color:#0F3F94;text-decoration:none}
.change_nav a:hover{color:#f00}
.change_nav .cur a,.change_nav .cur a:hover{color:#333}
.btn_Lblue_s{position:absolute;right:9px;top:4px;background-position:0 -472px;width:45px;color:#0F3F94;line-height:24px;}
.btn_Lblue_s:hover{color:#0F3F94;text-decoration:none}
.rec_content{padding:0;clear:both}
.rec_text{width:45px;height:19px;background-position:0 -355px;text-indent:3px;vertical-align:middle;border:1px solid #999;line-height:18px;color:#999}
.rec_t_on{border-color:#f47602;color:#333}
.table_intr{height:40px;line-height:40px;padding:0 10px;color:#999}
.table_intr span{float:left;display:inline}
.table_intr a{display:inline-block;height:20px;text-align:right;float:right}
..hemai .star-icons{padding-left:10px}
.toolTips{height:14px;width:14px;position:relative;display:block;margin:8px 0 0 0;float:left}
.toolTips a{text-decoration:none}
.toolTips .tips-hd{width:14px;height:14px;overflow:hidden;line-height:2000px;background-position:-57px -358px;display:block}
.tipsDetail{position:absolute;width:350px;z-index:10000;-+;left:0}
.notifyicon_content{box-shadow:2px 3px 4px #666;-moz-box-shadow:2px 3px 4px #666;-webkit-box-shadow:2px 3px 4px #666;background:#FFFFE1;border:1px solid #666;padding:10px;font:12px/1.5 verdana;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}
.tipsDetail h5{margin:0 0 10px;padding:0 0 0 20px;font:bold 12px/1.5 verdana;background-position:-197px -28px}
.tipsDetail p{margin:0 0 10px}
.notifyicon_content a{color:#4100FC}
.notifyicon_content a:hover{text-decoration:none}
.notifyicon_arrow,.notifyicon_space{height:18px;overflow:hidden}
.notifyicon_arrow{width:18px;position:absolute;z-index:9;left:15px;top:1px}
.notifyicon_space{width:15px}
.notifyicon_arrow b,.notifyicon_arrow i{display:block;width:0;height:0;overflow:hidden;border-style:dashed dashed dashed solid;top:0;position:absolute}
.notifyicon_arrow b{border-width:18px;border-color:transparent transparent transparent #666;left:0}
.notifyicon_arrow i{border-width:16px;border-color:transparent transparent transparent #FFFFE1;left:1px;top:2px}
.record{text-align:center}
.record a{cursor:pointer}
.record span{float:left;display:block;height:8px;background:url(../images/record.gif) repeat-x 0 -200em;font-size:0}
.record .gold{background-position:0 0}
.record .silver{background-position:0 -8px}
.record .g-star{background-position:0 -20px}
.record .s-star{background-position:0 -28px}
.record .g-cup1,.record .g-cup2,.record .g-cup3,.record .g-cup4,.record .g-cup5,.record .g-cup6,.record .g-cup7,.record .g-cup8,.record .g-cup9{background:url(../images/g-cup.gif) repeat-x;height:16px}
.record .g-cup1{background-position:0 -136px}
.record .g-cup2{background-position:0 -119px}
.record .g-cup3{background-position:0 -102px}
.record .g-cup4{background-position:0 -85px}
.record .g-cup5{background-position:0 -68px}
.record .g-cup6{background-position:0 -51px}
.record .g-cup7{background-position:0 -34px}
.record .g-cup8{background-position:0 -17px}
.record .g-cup9{background-position:0 0}
.top-bonus .r_content{width:268px;height:305px;padding:0}
.t-b-tabs{height:27px;width:272px;background:#EEF5FA}
.t-b-tabs li{float:left;width:67px;height:26px;overflow:hidden;text-align:center;border-right:1px solid #B1C7DF;border-bottom:1px solid #B1C7DF}
.t-b-tabs a{line-height:26px;display:block}
.t-b-tabs .cur,.t-b-tabs a:hover{border-bottom:1px solid #fff;background:#fff;color:#545454;text-decoration:none;position:relative}
.t-b-tabs .last_li{width:64px;border-right:0}
.p-r{padding-right:10px}
.ranking_con td,.ranking_con th{line-height:24px;vertical-align:middle;font-weight:normal}
.ranking_con .line th{border-bottom:solid 1px #dddfe7;color:#999}
.ranking_con .top td{padding-top:5px}
.top3_num,.num_bg{width:13px;height:12px;font:11px/12px Tahoma,Geneva,sans-serif;color:#fff;text-align:center;display:inline-block;margin:0 2px;background-color:#f36309}
.num_bg{background-color:#afafaf}
.guide .r_content{height:98px;padding:10px 9px}
.guide li{padding-left:10px;width:45%;line-height:24px;float:left}
.h_links{border:1px solid #c1d3e7;height:53px;background:#f3f6fc;clear:both; display:inline-block; width:998px; margin:0 auto;}
.h_links{margin-top:10px;}

.links_l{background-p osition:-249px -44px;width:87px;height:53px;float:left}
.links_m{float:left;width:848px;height:40px;padding:7px 0 6px 12px;line-height:20px;color:#ccc}
.links_m a{color:#333}
.links_m a:hover{color:#f00}
.tips_m{width:500px;position:absolute;top:40px;left:200px;z-index:1000}
.tips_b{background:#fb4343;filter:alpha(opacity=60);zoom:1;padding:4px}
.tips_b *{position:relative\9;zoom:1}
.tips_box{background:#fff;overflow:hidden;border:1px solid #fb4343;zoom:1;position:relative}
.tips_box .tips_title{height:28px;padding-left:10px;padding-right:6px;border-bottom:1px solid #fb4343;background:#fb4343;color:#fff;background-repeat:repeat-x;overflow:hidden}
.tips_box .close a{float:right;width:23px;height:22px;margin-top:3px;background-position:-29px 0;text-indent:-99999em;overflow:hidden}
.tips_box .close a:hover{background-position:0 0}
.tips_box h2{float:left;font:bold 14px/28px simsun}
.tips_box .tips_text{padding:10px 12px}


.tips_b1{background:#bf50c7;filter:alpha(opacity=60);zoom:1;padding:4px;z-index:1000000;}
.tips_b1 *{position:relative\9;zoom:1}
.tips_box1{background:#fff;overflow:hidden;zoom:1;position:relative}
.tips_box1 .tips_title{background:#bf50c7;height:28px;padding-left:10px;color:#fff;padding-right:6px;overflow:hidden}
.tips_box1 .close a{float:right;width:23px;height:22px;margin-top:3px;background-position:-29px 0;text-indent:-99999em;overflow:hidden}
.tips_box1 .close a:hover{background-position:0 0}
.tips_box1 h2{float:left;font:bold 14px/28px simsun}
.tips_box1 .tips_text{padding:10px 12px}

.dl_tips{width:285px;height:16px;background:#fffdf1;border:1px solid #ff8080;line-height:16px;padding:3px;margin:3px auto 0px;*margin:3px auto 7px}
.dl_err{width:16px;height:16px;display:inline-block;background-position:0 -25px;vertical-align:-4px;*vertical-align:0;margin-right:5px;overflow:hidden}
.dl_tbl{width:293px;margin:8px auto}
.dl_tbl td{height:26px;padding:7px 0 6px;*padding:5px 0 6px;line-height:26px}
.dl_tbl td.t_ar{text-align:right}
.dl_tbl .btn_Dora_b{margin-right:20px;border:0}
.tips_txt,.tips_yzm{width:174px;height:24px;padding:0 2px;line-height:24px;border:1px solid #7f9db9}
.tips_yzm{width:54px}
.kbq{display:inline-block;background-position:-195px 0;height:15px;line-height:15px;margin:5px 0 6px 4px;padding-left:18px;color:#999}
.tips_text img{margin:0 6px;vertical-align:-4px;_vertical-align:-2px}
.tips_sbt{background:#f5f5f5;border-top:1px solid #d6d6d6;padding:12px 0;text-align:center}
.tips_sbt input{vertical-align:middle;border:0}
.tips_sbt input.btn_Lora_b{margin-right:30px}
.tips_sbt input.ali_c{margin-right:0}
.log_t{margin-left:5px;color:#f00;display:inline-block}
.tips_box .tips_info{padding:25px}
.tips_box .tips_info p.ts{color:#999;line-height:30px;padding-left:10px}
.tips_info .p_hide,.tips_info .p_show{float:none}
.tablelay .h_s_td td{background:#f9f9f9}
.pd_l{padding:20px 0}
.tips_box .page{border:0}
.s-ok{border:0}
.tips_box .tips_info.tips_info_np{padding:0}
.icon_suc{background-position:0 -293px;font-size:14px;line-height:200%;padding-left:60px}
.txt_suc{font-size:14px;color:#F00;font-weight:bold}
.suc_link{border-top:#e0e2e1 solid 1px;margin-top:15px;padding-top:15px;line-height:24px;color:#999}
.l_after .tips_title{border-bottom:0}
.l_after .tips_text{padding:0}
.l_after .suc_bg{background-position:65px -293px;height:34px;line-height:34px;text-align:center;font-size:16px;margin-bottom:5px}
.l_after .band_bg{background:#f5f8fb}
.l_after .band_text{padding:10px 30px;color:#666}
.band_text li{height:25px;line-height:25px;margin-top:7px;background-position:0 -232px;background-repeat:repeat-x;border-right:1px solid #d9d9d9}
.band_text .bd_title{display:inline-block;width:64px;height:25px;background-position:-134px -203px;padding-left:12px;margin-right:10px;color:#333}
.l_after .band_btn{text-align:center;padding-bottom:20px}
.l_after .btn_Dora_b,.l_after .btn_Dora_b:hover{font-size:12px}

/*��������*/
.h_links .links_l{background:url(../images/firend.gif) no-repeat; width:87px; height:53px; text-indent:-9999em;}
.h_links .links_m{ float:left; width:848px; height:28px; padding:15px 0 6px 12px; line-height:20px; color:#ccc;}
.h_links .links_m a{color:#333;margin:8px;}
.h_links .links_m a:hover{color:#f00;}

/*********ͼƬ�л� css����***********/
.sub_box{width:540px; height:280px; float:left; overflow:hidden; border:1px solid #D7DBE6; background:url(../images/loading.gif) center center no-repeat; *background:url(../images/loading.gif) 220px 120px no-repeat;}
.sub_box img{border:none; width:540px; height:280px;}
#bd1lfimg{position:relative; width:540px; height:280px; overflow:hidden;}
#bd1lfimg div{width:100000px; margin-left:-4px;}
#bd1lfimg dl{width:540px; height:280px;  position:relative; overflow:hidden; float:left;}
#bd1lfimg dt{width:540px; height:280px;  position:absolute; left:0px; top:0px;}
#bd1lfimg dd{width:540px; height:280px; filter:alpha(Opacity=70); Opacity:0.7; position:absolute; left:0px; bottom:0px; padding:0 20px;}
#bd1lfimg dd h2{height:25px; padding:0px 0 4px 0; line-height:25px; overflow:hidden;}
#bd1lfimg dd h2 a{font-size:14px; font-weight:bold; color:#ffffff;}
#bd1lfimg dd a{color:#ffffff; text-decoration:none;}
#bd1lfimg dd a:hover{text-decoration:none; color:#cccccc;}
#bd1lfimg dd tt{color:#dddddd; line-height:1.2em;}
#bd1lfimg dd tt a:hover{text-decoration:underline;}

.sub_nav{width:468px; height:20px; bottom:0px; _bottom:5px; position:absolute; color:#999999;}
.sub_no{height:20px; float:right;}
.sub_no li{display:block; width:18px; margin:5px; margin-top:-5px; _margin-top:0px; height:18px; float:left; overflow:hidden; line-height:18px; vertical-align:middle; text-align:center; background:#FFFFFF; font-family:Arial; font-size:12px; color:#0C3E77;border:1px solid #D7DBE6; cursor:pointer;}
.sub_no li.show{background:#0C3E77; color:#ffffff;}
.sub_more{float:right; width:50px; height:20px; background:#ffffff; filter:alpha(Opacity=70); Opacity:0.7; color:#999999; text-align:center; line-height:20px;}
.sub_more a{color:#999999;}
.sub_more a:hover{color:#cccccc; text-decoration:none;}
.ctshoug { position:fixed; width:500px; height:auto;  border-radius:3px; left:50%; top:200px;  margin-left:-200px; z-index:999; font-size:12px; margin-top:-50px;}
	.ctshoug .top {  line-height:30px;  height:30px;  color:#c5161d; font-size:14px; color:#fff;}
	.ctshoug .top b { padding-left:20px; float:left;}.ctshoug .top img { float:right; padding-top:5px; margin-right:10px;}
	.ctshoug .cle{ padding:20px; text-align:center;  font-size:14px; display:block; line-height:30px; background:#fff; clear:both;}
	.ctshoug .cle div,.ctshoug .cle p { padding:3px 0;}
	.ctan,span.ctan { cursor:pointer; width:81px; height:28px; line-height:28px; font-weight:bold; color:#d62629; background:url(../Images/Public/ctong_28.jpg) center no-repeat; margin:5px 0; padding:0; border:0; margin-right:10px;display:inline-block; }
	.ctan1,span.ctan1 { cursor:pointer; width:auto; padding:0 5px; height:28px; line-height:28px; font-weight:bold; margin:5px 0;border-radius:3px; margin-right:10px;display:inline-block; }
	.ctan2,.ctan2:hover,span.ctan2,span.ctan2:hover { display:inline-block; cursor:pointer; width:61px; height:24px; line-height:24px; background:#eeeeee; border:none; border:1px solid #dad7d7; margin:5px 0; padding:0;}
	.cttable { display:block; width:auto; height:100px; overflow-y:scroll ;border:1px solid #CCC;}
	.cttable td { padding-left:10px; text-align:left; height:24px; line-height:24px}
	.ctan3 { background:#e93536; border:1px solid #e93536; border-radius:3px; padding:4px 10px; color:#fff; font-weight:bold; }
	.loadimg { display:block; width:170px; height:170px; margin:0 auto;}






.home-sitebar-cz a,dd,div,dl,dt,html,img,li,span,ul{margin:0;padding:0}
.home-sitebar-cz img{border:0}
.home-sitebar-cz li{list-style:none}
.home-sitebar-cz{font:12px/1.5 Tahoma,Arial,"\5b8b\4f53",Helvetica,sans-serif;color:#333;font-size:12px;width:197px;background:#fff;float:left;border:1px solid #222;box-shadow:1px 0 1px #ccc;/*border-top:0*/;font-family:"Microsoft YaHei";
position:relative;z-index:10}
.home-sitebar-cz a{color:#333;text-decoration:none}
.home-sitebar-cz a:hover{color:#C70000}
.left-nav-style01,.left-nav-style02,.left-nav-style03{width:188px;margin:0 auto;border-bottom:1px solid #424b50;display:inline-block;padding-bottom:5px;margin:5px 0 0 5px}
.left-nav-style01 img.cz-login{width:34px;height:34px;display:inline;float:left;margin-right:8px}
.left-nav-style01 span.cz-dlt{line-height:35px}
.left-nav-style01 span {display: inline-block;font-size: 16px;line-height: 19px;}
.left-nav-style02 img.cz-login{width:34px;height:34px;display:inline;float:left;margin-right:8px}
.left-nav-style02 span.cz-dlt{line-height:35px}
.left-nav-style02 span {float:left;display: inline-block;font-size: 14px;line-height: 19px;}
.left-nav-style02 a {margin-right:10px;}
.left-nav-style03{font-size:16px}
.left-nav-style03 img.cz-login{width:34px;height:34px;display:inline;float:left;margin-right:8px}
.left-nav-style03{float:left}
.left-nav-style03 span{float:left;display:inline-block}
ul.eleven-five{width:146px;font-family:"\5b8b\4f53"}
ul.eleven-five li{float:left;width:72px;line-height:19px;font-size:12px}
ul.eleven-five li a{font-size:12px}
