/*只需要修改宽高，按钮样式即可,其他建议不要修改*/
#banner {position:relative; z-index:0;width:864px;margin: 0 auto;height:322px;background: #fff;}
#banner .banner-btn-bj{width: 864px;height: 24px; position: absolute; bottom: 0; z-index:999; }
#bannerBtn{float: right;}
#bannerBtn li{float: left; display: inline;  width: 20px; height: 20px;line-height: 20px;text-align: center; margin-right:5px; background: #ccc; cursor: pointer; border: 1px solid #dcdcdc;}
#bannerBtn li.cc{background:#c80000; border: 1px solid #be0000; color: #fff;}
#bannerMain{width: 864px;height: 322px;overflow: hidden;}